.github:hover {
  color: #161b22;
}
.git:hover {
  color: #fa4e28;
}
.some:hover {
  color: #0078f2;
}
.nodejs:hover {
  color: #68a05c;
}
.php:hover {
  color: #787cb4;
}
.yarn:hover {
  color: #2c8ebb;
}
.javascript:hover {
  color: #f7df1e;
}
.bootstrap:hover {
  color: #7952b3;
}
.sass:hover {
  color: #d95496;
}
.react:hover {
  color: #7ddfff;
}
.html:hover {
  color: #f16524;
}
.css:hover {
  color: #0271b8;
}
.android:hover {
  color: #97c03c;
}
.java:hover {
  color: #e11f21;
}
.npm:hover {
  color: #cc3838;
}
.graphql:hover {
  color: #e535ab;
}
