.development-div-1 {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.carousel-img {
  padding: 1vh;
  margin-bottom: 2vh;
  display: block;
  width: 100%;
}

#img-1 {
  padding: 0;
  margin-bottom: 2vh;
  width: 100%;
}

#img-2 {
  padding: 0;
  width: 100%;
}

#img-3 {
  padding: 0;
  margin-bottom: 2vh;
  width: 100%;
}

.development-container p {
  text-align: justify;
  font-size: xx-large;
}

small {
  font-size: large;
}

.title {
  font-weight: 700;
}

.primary-buttons {
  margin-left: 1vh;
  margin-bottom: 1vh;
  font-size: medium;
  font-weight: 700;
}
.lnk:hover {
  color: white;
  text-decoration: none;
}
