.footer-full{
    height: 15rem;
    background-color: #2a2a2a;
    color: #f2f2f2;
    font-family: 'Staatliches', cursive;
}

.footer-register{
    background-color: black;
    color: #f2f2f2;
    height: 2rem;
}