.home-div-1 {
  margin-top: 20vh;
}

.home-div-2 {
  margin-top: 5vh;
}

.home-container p {
  text-align: justify;
  font-size: xx-large;
}

.fg-home-image-1 {
  width: 350px;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.fg-home-image-1 .home-image-1 {
  width: 100%;
}

.btn-home-1 {
  font-family: 'Staatliches', cursive;
  border-color: #0078f2;
  float: right;
}

.btn-home-1:hover > .navbar-title {
  color: #f2f2f2;
  transition: 3ms;
}

.progress {
  margin-top: 60px;
}

button .navbar-title {
  text-decoration: none;
}
