.container-hover-img {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.figure {
  position: relative;
  height: auto;
  width: 100px;
  overflow: hidden;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.img1,
.img3 {
  margin: 0 0;
}

.img2 {
  margin-top: 13vh;
  margin-bottom: 13vh;
}

.title-img {
  text-align: center;
}
